.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

body {
  background: rgba(47,100,90,1);
  background: -moz-linear-gradient(
    left, 
    rgba(47,100,90,1) 0%, 
    rgba(111,161,123,1) 100%
  );
  background: -webkit-gradient(
    left top, 
    right top, 
    color-stop(0%, rgba(47,100,90,1)), 
    color-stop(100%, rgba(111,161,123,1))
  );
  background: -webkit-linear-gradient(
    left, 
    rgba(47,100,90,1) 0%, 
    rgba(111,161,123,1) 100%
  );
  margin: 0;
  pdading: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'quicksand';
}

.form {
  opacity: 1;
  visiblity: visible;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-top: -230px;
  margin-left: -210px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255,255,255,.3);
  height: 440px;
  width: 400px;
  color: white;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.25);
  transition: 
    opacity .3s ease-in .3s,
    visibility .3s ease-in .3s;
  transform: scale(.9);
}

.input {
  margin: 5px;
  width: 300px;
  margin-left: -5px;
  height: 40px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  padding: 5px;
  color: #25291b;
  background-color: rgba(255,255,255, .5);
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.3);
  transition: background-color .4s ease-out;
}

.input:focus {
  outline: none;
  background-color: rgba(255,255,255, .8)
}

