.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

body {
  background: rgba(47,100,90,1);
  background: -moz-linear-gradient(
    left, 
    rgba(47,100,90,1) 0%, 
    rgba(111,161,123,1) 100%
  );
  background: -webkit-gradient(
    left top, 
    right top, 
    color-stop(0%, rgba(47,100,90,1)), 
    color-stop(100%, rgba(111,161,123,1))
  );
  background: -webkit-linear-gradient(
    left, 
    rgba(47,100,90,1) 0%, 
    rgba(111,161,123,1) 100%
  );
  margin: 0;
  pdading: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'quicksand';
}